@import './config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: $max-width;
}

.grid {
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
}

.col {
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  width: 100%;
}

.col-4 {
  width: (100% / 3);
}

.col-12 {
  width: 100%;
}

@media (max-width: 500px) {
  .col-md-12 {
    width: 100%;
  }
}
