.playvideo {
  video {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 400px;

    @media (max-width: 500px) {
      width: 240px;
    }
  }

  button {
    background-color: transparent;
    border: 0 solid transparent;
    height: 75px;
    width: 75px;

    @media (max-width: 500px) {
      height: 40px;
      width: 40px;
    }
  }

  button img {
    object-fit: fill;
    width: 100%;
  }
}

.singlevideo-title {
  font-size: 5vw;
  margin-top: 1.5em;
  text-align: center;
}
