.singleVideo {

  margin-bottom: 1em;
  text-decoration: none;

  h3 {
    color: #000;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
  }

  & > span {
    color: #000;
  }

  &__image {
    position: relative;
  }

  &__image img {
    object-fit: cover;
    width: 100%;
  }

  &__image span {
    bottom: 6%;
    display: flex;
    color: #FFF;
    flex-direction: column;
    height: 9%;
    justify-content: center;
    min-height: 32px;
    min-width: 48px;
    position: absolute;
    right: 3%;
    text-align: center;
    width: 11%;
    background-color: rgba(0,0, 0, 0.4);
  }

}
